@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  --very-dark-blue: hsl(217, 54%, 11%);
  --very-dark-blue-2: hsl(216, 50%, 16%);
  --very-dark-blue-3: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--white);
  background-color: var(--very-dark-blue);
  font-family: Outfit, Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  height: 100vh;
}

p {
  font-size: 1.125rem;
}

.card {
  width: 350px;
  margin: auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: var(--very-dark-blue-2);
}

.item-header .header-image {
  max-width: 100%;
  min-height: 100%;
  border-radius: 0.5rem;
}

.item-header {
  position: relative;
}

.item-header .item-header-focus-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--cyan);
}

.item-header .item-header-focus-box:hover {
  opacity: 0.75;
}

.card h2 {
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  padding: 16px 0;
}

.card h2:hover {
  color: var(--cyan);
}

.card .item-description {
  font-size: 1rem;
  color: var(--soft-blue);
  padding-bottom: 24px;
}

.item-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
  font-size: 0.8rem;
}

.item-details .item-detail {
  display: flex;
  align-items: center;
}

.item-details .item-detail span {
  padding-left: 8px;
}

.item-details .item-price {
  color: var(--cyan);
  font-weight: 400;
}

.item-details .item-time {
  color: var(--soft-blue);
}

.divider {
  height: 1px;
  background-color: #2f415b;
}

.item-creator {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 16px;
}

.item-creator img {
  border: var(--white) 1px solid;
  border-radius: 50%;
  width: 25px;
}

.item-creator p {
  color: var(--soft-blue);
  font-size: 0.9rem;
  padding-left: 16px;
}

.item-creator a {
  color: var(--white);
  text-decoration: none;
}

.item-creator a:hover {
  color: var(--cyan);
}
